<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="card" id="content">
            <div class="card-content">
                <div class="post-content">
                    <div class="title-img">
                        {{ if .Params.featureImg }}
                            <img src="/post/{{ .Params.featureImg }}" alt="post image">
                        {{ else }}
                            <img src="/post/news-example.jpg" alt="post image">
                        {{ end }}
                        <div class="title-div">
                            <span class="title-span no-border">{{ .Title }}</span>
                            <p style="font-weight:800">{{ .Date | time.Format ":date_full" }}</p>
                        </div>
                        
                    </div>
                    {{ .Content }}
                </div>
            </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>