<!-- <!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="card" id="content">
            <div class="card-content">
                <div class="post-content">
                    {{ if .Params.featureImg }}
                        <img class="title-img" src="/post/{{ .Params.featureImg }}" alt="post image">
                    {{ else }}
                        <img class="title-img" src="/post/news-example.jpg" alt="post image">
                    {{ end }}
                    <div class="title-div">
                        <span class="title-span no-border">{{ .Title }}</span>
                        <span class="sub-title-span ">{{ .Date | time.Format ":date_full" }}</span>
                    </div>
                    {{ .Content }}
                </div>
            </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html> -->