<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="card" id="content">
            {{ range .Site.Pages.ByDate.Reverse }}
                {{ if and (eq .Type "pub") (ne .Title "Pubs") }}
                <div class="pub-div">
                    <!-- <label for=""></label> -->
                    <div class="pub-img-div">
                        <img class="pub-img" src="{{.Params.Pic}}" alt="">
                    </div>
                    <div class="pub-descrp">
                        {{.Params.author}}, "<a href="{{ .Permalink }}">{{.Title}}</a>", 
                        {{.Params.PublishName}}, {{.Params.paperDate}}.
                        <p>{{.Params.Description}}</p>
                    </div>
                    <div class="clear-float"></div>
                </div>
                {{end}}
            {{end}}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>