/* basic */
body {
    background-color: var(--background-color);
    padding:0;
    margin: 0;
    overflow-x: hidden;
}
.clear-float {
    clear: both;
}
ul, p { 
  line-height: 30px;
  font-size: var(--global-font-size);
  strong {
    font-size: 1rem;
  }
} 
a,
a:visited {
  color: var(--active-font-color);
  text-decoration: none;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}
a:hover,
a:focus {
  text-decoration: underline;
  -webkit-tap-highlight-color: transparent;
  opacity: 0.85;
}
.title-span {
  display:inline-block;
  width:100%;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  border-bottom: 1px solid var(--background-color);
  margin-top: 10px;
  padding: 5px;
}
h1, .title-span-left {
  display:inline-block;
  width:100%;
  text-align: left;
  color:var(--title-font-color);
  font-weight: 900;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--title-font-color);
  margin-top: 10px;
  padding: 5px;
}
