/* basic */
body {
    background-color: var(--background-color);
    padding:0;
    margin: 0;
    overflow-x: hidden;
}
.clear-float {
    clear: both;
}
a,
a:visited {
  color: inherit;
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: var(--accent-color);
}
a:hover,
a:focus {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  opacity: 0.85;
}
.title-span {
  display:inline-block;
  width:100%;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  border-bottom: 1px solid var(--font-color);
  margin-top: 10px;
}

