/* basic */
body {
    background-color: var(--background-color);
    padding:0;
    margin: 0;
    overflow-x: hidden;
}
.clear-float {
    clear: both;
}
a,
a:visited {
  color: inherit;
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: var(--accent-color);
}
a:hover,
a:focus {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  opacity: 0.85;
}
.title-span {
  display:inline-block;
  width:100%;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  border-bottom: 1px solid var(--font-color);
  margin-top: 10px;
}
.title-img {
  overflow: hidden;
  position: relative;
  height:calc(50vh);
  img {
    width: 98%;
    position: absolute;
    z-index: 1;
  }
  .title-div {
    text-align: center;
    position: absolute;
    width: 400px;
    top:calc(25vh - 2.3rem);
    left:calc(50vw - 250px);
    z-index: 100000000000;
  }
}

.no-border {
  border: none;
}
.subTitle-span {
  display:inline-block;
  width:100%;
  text-align: center;
  font-weight: 300;
  font-size: .4rem;
  color: var(--font-color);
  margin-top: 10px;
}


