/* content */
#content {
    min-height: var(--content-min-height);
    background-color: var(--content-bgColor);
    width: var(--content-width);
    padding-left: 6px;
    padding-right:6px;
    padding-top: 6px;
    /* border:solid 1px black; */
}
.post-content {
    // background-color: red;
}
.post-content span {
    color:black;
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
}
