/* content */
#content {
    min-height: var(--content-min-height);
    // background-color: var(--content-bgColor);
    background-color: white;
    width: var(--content-width);
    padding: 20px;
    margin: auto;
}
.home-img {
    height: 60vh;
    padding: 5px;
}
.home-content {
    font-size: 4rem;
}
.post-content {
    // background-color: pink;
    margin: auto;
    width:calc(100vw - 80px);
}
.post-content span {
    color:black;
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
}
.post-div {
    // border: 2px solid var(--font-color);
    padding:5px;
    position: relative;
    margin-top:5px;
    a {
        color: black;
        font-weight: 900;
        text-decoration: underline;
    }
    a:hover {
        text-decoration: underline;
    }
    span {
        color: var(--font-color)
    }
    .news-descrp {
        float: left;
        width: 80%;
        height: 100%;
    }
    .news-img {
        float:left;
        width: 20%;
        height: 100%;
        img {
            width:100%;
            max-height: 80%;
        }
    }
    
}
