/* footer */
.site-footer {
    text-align: center;
    opacity: 0.85;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-header);
    background-color: var(--header-bgcolor);
    text-align: center;
    padding: 10px;
}

.copyright {
    margin: 0;
  }