/* footer */
.site-footer {
    text-align: center;
    opacity: 0.85;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: transparent;
    text-align: center;
    padding: 3px;
}
.copyright {
    margin: 0;
  }