.person-card {
    text-align: center;
    width:180px;
    height:300px;
    float: left;
    margin-left: .5rem;
    margin-top: 1rem;
    padding: 6px;
    .person-img {
        height:150px;
        img {
            height:150px;
            width:150px;
        }
    }
    .card-content {
        height: 30%;
        div {
            margin-top: 9px;
            font-size: .8rem;
        }
        .person-name {
            font-size: 1rem;
            font-weight: 900;
            margin-top: 12px;
        }
    }
}
.person-card:hover {
    box-shadow: 3px 3px 3px 3px #d9d9d9;
}