.person-card {
    background-color: var(--person-card-color);
    text-align: center;
    width:200px;
    height:400px;
    float: left;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 6px;
    .person-img {
        height:55%;
        img {
            height:100%;
            max-width:80%;
        }
    }
    .card-content {
        height: 30%;
    }
}
