:root {
    --background-color: #a9a9a9;
    --person-card-color: #efefef;
    --content-bgColor: #a9a9a9;
    --active-font-color: #74132c;
    --header-active-font-color: #e64f80;
    --header-bgcolor:#232637;
    --color-header: #ffffff;
    --font-color: #757575;
    --title-font-color:#353535;
    --active-box-shadow:#353535;
    --content-min-height: calc(82vh - 30px);
    --content-width: calc(1280px);
    --gap: 0.5rem;
    --radius: .5em;
    --bg-menu-mobile: hsl(0, 0%, 7%);
    --header-width:  calc(1280px);
    --content-padding: 20px;
    --global-font-size: .8rem;
}