:root {
    --background-color: rgb(199, 192, 192);
    --content-bgColor: white;
    --content-min-height: calc(82vh - 6px);
    --content-width: calc(100vw - 30px);
    --active-color: blueviolet;
}