{{ define "main" }}
    <img src="{{ .Site.Params.avatar }}" alt="" align="left" class="home-img">
    <div class="home-content">{{ .Content }}</div>
    <span class="title-span-left">Recent News</span>
    {{ range .Site.Pages.ByDate.Reverse }}
        {{ if and (eq .Type "post") (ne .Title "Posts") }}
            <div class="post-div">
                <label for=""></label>
                <div class="news-descrp">
                    {{ .Content }}
                </div>
                <div class="news-date">
                    {{.Params.Newdate }}
                </div>
                <div class="clear-float"></div>
            </div>
        {{ end }}
    {{end}}
    <div class="clear-float"></div>
{{ end }}