@charset "UTF-8";
/* header */
.nav-btn {
  background: url("/svg/menu.svg") no-repeat center center;
  height: 36px;
  width: 36px;
  border: 0;
  cursor: pointer; }

.site-header {
  background-color: var(--header-bg-color);
  color: var(--color-header);
  padding: calc(var(--gap) / 2) var(--gap); }
  .site-header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: var(--gap);
    max-width: var(--header-width); }
  .site-header .site-title {
    margin: 0;
    padding: 0; }
    .site-header .site-title a {
      color: var(--color-header);
      display: block;
      background-image: none;
      line-height: 1.55;
      text-decoration: none;
      font-weight: 900;
      font-size: 2rem;
      width: 300px; }
      .site-header .site-title a:hover {
        color: var(--accent-color); }

.site-nav {
  padding: 0 1rem;
  display: flex;
  font-size: 1.1rem; }
  .site-nav .site-menu {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch; }
    .site-nav .site-menu li + li {
      margin-left: 2rem; }
    .site-nav .site-menu a {
      border: 0;
      text-decoration: none;
      color: var(--color-header);
      text-transform: uppercase;
      font-weight: 900; }
      .site-nav .site-menu a[aria-current="page"], .site-nav .site-menu a:focus, .site-nav .site-menu a:hover {
        color: var(--accent-color); }

/* nav menu */
/* basic */
body {
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

.clear-float {
  clear: both; }

a,
a:visited {
  color: inherit;
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  color: var(--accent-color); }

a:hover,
a:focus {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  opacity: 0.85; }

.title-span {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  border-bottom: 1px solid var(--font-color);
  margin-top: 10px; }

/* content */
#content {
  min-height: var(--content-min-height);
  background-color: white;
  width: var(--content-width);
  padding: 20px;
  margin: auto; }

.home-img {
  height: 60vh;
  padding: 5px; }

.home-content {
  font-size: 4rem; }

.post-content {
  margin: auto;
  width: calc(100vw - 80px); }

.post-content span {
  color: black;
  display: inline-block;
  font-size: 2rem;
  font-weight: 900; }

.post-div {
  padding: 5px;
  position: relative;
  margin-top: 5px; }
  .post-div a {
    color: black;
    font-weight: 900;
    text-decoration: underline; }
  .post-div a:hover {
    text-decoration: underline; }
  .post-div span {
    color: var(--font-color); }
  .post-div .news-descrp {
    float: left;
    width: 80%;
    height: 100%; }
  .post-div .news-img {
    float: left;
    width: 20%;
    height: 100%; }
    .post-div .news-img img {
      width: 100%;
      max-height: 80%; }

/* footer */
.site-footer {
  text-align: center;
  opacity: 0.85;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: transparent;
  text-align: center;
  padding: 3px; }

.copyright {
  margin: 0; }

:root {
  --background-color: rgb(199, 192, 192);
  --header-bg-color: rgb(199, 192, 192);
  --person-card-color: #efefef;
  --content-bgColor: white;
  --content-min-height: calc(82vh - 30px);
  --content-width: calc(100vw - 100px);
  --active-color: blueviolet;
  --accent-color: blueviolet;
  --font-color: #757575;
  --gap: 0.5rem;
  --radius: .5em;
  --bg-menu-mobile: hsl(0, 0%, 7%);
  --color-menu-mobile: hsl(0, 0%, 98%);
  --color-header: hsl(0, 0%, 9%);
  --header-width:  1370px; }

.person-card {
  background-color: var(--person-card-color);
  text-align: center;
  width: 200px;
  height: 400px;
  float: left;
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 6px; }
  .person-card .person-img {
    height: 55%; }
    .person-card .person-img img {
      height: 100%;
      max-width: 80%; }
  .person-card .card-content {
    height: 30%; }

/*
   * media queries
   * * *******/
@media (prefers-reduced-motion: no-preference) {
  body {
    --duration: 0.5s;
    --timing: ease;
    transition: color var(--duration) var(--timing), background-color var(--duration) var(--timing); }
  a:hover,
  a:focus,
  .icon:hover,
  .icon:focus {
    transition: 0.5s; }
  button:not(.theme__btn):hover,
  button:not(.theme__btn):focus,
  .btn:focus,
  .btn:hover {
    transition: all 0.18s ease-in-out;
    transform: translateY(-2px); }
  .icon:hover,
  .icon:focus {
    transform: scale(1.3, 1.3); }
  .content a:not(.btn) {
    text-decoration: none;
    background-image: linear-gradient(to top, transparent, transparent 0, currentColor 0, currentColor 1px, transparent 1px);
    word-wrap: break-word; }
  .content a:focus,
  .content a:hover {
    background-image: none; }
  .slide {
    opacity: 0;
    animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards; }
  .slide-invert {
    opacity: 0;
    animation: fade-slide-up 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards; }
  .slide-horizontal {
    opacity: 0;
    animation: fade-slide-left 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards; }
  .slide-horizontal-invert {
    opacity: 0;
    animation: fade-slide-right 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards; }
  @keyframes fade-slide-down {
    0% {
      opacity: 0;
      transform: translateY(-4rem); }
    100% {
      opacity: 1;
      transform: none; } }
  @keyframes fade-slide-up {
    0% {
      opacity: 0;
      transform: translateY(4rem); }
    100% {
      opacity: 1;
      transform: none; } }
  @keyframes fade-slide-left {
    0% {
      opacity: 0;
      transform: translateX(4rem); }
    100% {
      opacity: 1;
      transform: none; } }
  @keyframes fade-slide-right {
    0% {
      opacity: 0;
      transform: translateX(-4rem); }
    100% {
      opacity: 1;
      transform: none; } } }

@media screen and (max-width: 900px) {
  .hide-mobile {
    display: none; }
  .site-header .inner {
    display: block; }
  .site-header .site-title a {
    display: inline-block; }
  .site-nav {
    margin: 0;
    margin-top: var(--gap);
    padding: 0;
    animation: none;
    transform: none;
    position: fixed;
    right: 0;
    top: calc(1px + 2rem);
    padding: calc(var(--gap) / 4);
    width: 70vw;
    z-index: 101;
    min-height: 75vh;
    border-radius: var(--radius) 0 0 var(--radius);
    background-color: var(--bg-menu-mobile);
    transition: all 0.25s linear;
    display: block;
    opacity: 0;
    text-align: left;
    transform: translateX(100%);
    will-change: opacity, transform; }
    .site-nav li {
      margin: 0; }
  .nav-btn {
    position: absolute;
    top: var(--gap);
    right: var(--gap); }
  #check-menu:checked ~ .site-nav {
    opacity: 1;
    transform: translateX(0); }
  .site-nav .site-menu {
    width: 100%;
    flex-direction: column; }
    .site-nav .site-menu a {
      color: var(--color-menu-mobile); }
  .site-nav .site-menu > li,
  .site-nav .site-menu > li + li {
    margin: 0.75rem 0;
    width: 100%; }
  .theme__btn {
    margin: 0; }
  .welcome-btn-container {
    text-align: center; }
  .site-footer {
    display: block; }
  .copyright {
    margin-bottom: 1.5rem; } }

@media screen and (min-width: 900px) {
  .hide-desktop {
    display: none; }
  .copyright:after {
    margin: 0 calc(var(--gap) / 2);
    content: "•"; } }

/*# sourceMappingURL=style.css.map */